USE [VietIS]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[imageId] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[storeId] [int] NULL,
	[name] [nvarchar](50) NOT NULL,
	[catId] [int] NULL,
	[price] [float] NULL,
	[description] [text] NULL,
	[imageId] [int] NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodComment]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodComment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[foodId] [int] NULL,
	[content] [text] NULL,
	[createAt] [date] NULL,
 CONSTRAINT [PK_FoodComment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imageURL] [text] NULL,
	[type] [varchar](30) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[storeId] [int] NULL,
	[foodId] [int] NULL,
	[idType] [nvarchar](150) NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[imageId] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[description] [text] NULL,
	[quantity] [float] NULL,
	[total] [float] NULL,
	[status] [int] NULL,
	[createAt] [date] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[foodId] [int] NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneToken]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tokenKey] [nvarchar](300) NULL,
	[createAt] [date] NULL,
 CONSTRAINT [PK_PhoneToken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[foodId] [int] NULL,
	[rating] [float] NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingStore]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingStore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[storeId] [int] NULL,
	[rating] [float] NULL,
 CONSTRAINT [PK_RatingStore] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](550) NULL,
	[address] [nvarchar](50) NOT NULL,
	[phoneNumber] [varchar](50) NULL,
	[imageId] [int] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreComment]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreComment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[storeId] [int] NULL,
	[content] [text] NULL,
	[createAt] [date] NULL,
 CONSTRAINT [PK_StoreComment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](300) NULL,
	[hashPassword] [varchar](300) NULL,
	[name] [text] NULL,
	[imageId] [int] NULL,
	[phoneNumber] [varchar](50) NULL,
	[address] [text] NULL,
	[userType] [int] NULL,
	[tokenKey] [varchar](300) NULL,
	[expireDate] [date] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 12/11/2020 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[tokenKey] [text] NULL,
	[createAt] [date] NULL,
 CONSTRAINT [PK_UserToken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [imageId]) VALUES (1, N'Bún/Mì/Phở', 18)
INSERT [dbo].[Category] ([id], [name], [imageId]) VALUES (2, N'Cơm', 19)
INSERT [dbo].[Category] ([id], [name], [imageId]) VALUES (3, N'Đồ ăn vặt', 22)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([id], [storeId], [name], [catId], [price], [description], [imageId]) VALUES (1, 1, N'Bún chả thập cẩm', 1, 25000, N'rat ngon', 1)
INSERT [dbo].[Food] ([id], [storeId], [name], [catId], [price], [description], [imageId]) VALUES (2, 2, N'Com rang thập cẩm', 2, 30000, N'ngon', 2)
INSERT [dbo].[Food] ([id], [storeId], [name], [catId], [price], [description], [imageId]) VALUES (3, 3, N'Bánh tráng trộn ', 3, 20000, N'great', 3)
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodComment] ON 

INSERT [dbo].[FoodComment] ([id], [userId], [foodId], [content], [createAt]) VALUES (1, 33, 9, N'Ngon vkl', CAST(N'2020-11-03' AS Date))
INSERT [dbo].[FoodComment] ([id], [userId], [foodId], [content], [createAt]) VALUES (3, 37, 7, N'vkl ngon', CAST(N'2020-11-13' AS Date))
INSERT [dbo].[FoodComment] ([id], [userId], [foodId], [content], [createAt]) VALUES (4, 33, 8, N'nice ', CAST(N'2020-11-12' AS Date))
SET IDENTITY_INSERT [dbo].[FoodComment] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [imageURL], [type]) VALUES (1, N'https://d1sag4ddilekf6.cloudfront.net/compressed/merchants/5-CY6EL6KFWA2CCA/hero/0c97cf7920034a84bf08a709ea688da9_1578457125998491771.jpg', NULL)
INSERT [dbo].[Image] ([id], [imageURL], [type]) VALUES (3, N'https://lh3.googleusercontent.com/ku6dZc1U_C1uk0LlzW_hDsU0kPvXEEd9BdI-X0gMZdBh-74YU_Q-gOs_0w_sqffSAzE2CkAsfb-tO-8d=w1080-h608-p-no-v0', NULL)
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [title], [content], [storeId], [foodId], [idType]) VALUES (1, N'Tưng bừng khuyến mãi', N'Cửa hàng nhà làm kỉ niệm 20 năm thành lập, khuyến mại khủng trong hôm nay', 1, NULL, N'1')
INSERT [dbo].[Notification] ([id], [title], [content], [storeId], [foodId], [idType]) VALUES (2, N'Khai truong tưng bừng', N'Cửa hàng Phở Bát Đàn vừa khai trương khuến mại khửng trong hôm nay', 4, NULL, N'1')
INSERT [dbo].[Notification] ([id], [title], [content], [storeId], [foodId], [idType]) VALUES (3, N'Món ngon khó cu?ng', N'Bạn hãy thử đi, Vị ngon khó cưỡng', NULL, 10, N'2')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [userId], [imageId], [reason], [description], [quantity], [total], [status], [createAt]) VALUES (1, 44, 3, NULL, N'asdasdasdasdasdsad', NULL, NULL, 1, CAST(N'2020-02-02' AS Date))
INSERT [dbo].[Order] ([id], [userId], [imageId], [reason], [description], [quantity], [total], [status], [createAt]) VALUES (2, 33, 4, N'thích thế', N'Hung Yen', 1, 2321, 0, CAST(N'2020-02-02' AS Date))
INSERT [dbo].[Order] ([id], [userId], [imageId], [reason], [description], [quantity], [total], [status], [createAt]) VALUES (3, 46, 1, NULL, N'hahahahahahaha', NULL, NULL, 1, CAST(N'2020-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id], [orderId], [foodId], [quantity], [price]) VALUES (1, 9, 8, 3, 75000)
INSERT [dbo].[OrderDetail] ([id], [orderId], [foodId], [quantity], [price]) VALUES (3, 5, 7, 4, 100000)
INSERT [dbo].[OrderDetail] ([id], [orderId], [foodId], [quantity], [price]) VALUES (4, 3, 10, 1, 30000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneToken] ON 

INSERT [dbo].[PhoneToken] ([id], [tokenKey], [createAt]) VALUES (8, N'asndsjadnasdjandjakds', NULL)
INSERT [dbo].[PhoneToken] ([id], [tokenKey], [createAt]) VALUES (9, N'eoX2L9GuTyK1bVocU5sIuc:APA91bFAYjdB1vsMBhXXOzSqktwQi5MLIm3KDJ0tz1yQ9ETzIoC88Z7h5lSJAA2Ak8MNydUvV6mBx4khFcOU3IaBzpq5P6Rzcjk_AqcBp2H4Uely_0RR59MLha6yaR4jX4vAhI2XFxXF', NULL)
INSERT [dbo].[PhoneToken] ([id], [tokenKey], [createAt]) VALUES (10, N'asndsjadnasdjandjshvsdhfdsjfhdjakds', NULL)
SET IDENTITY_INSERT [dbo].[PhoneToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([id], [userId], [foodId], [rating]) VALUES (1, 33, 1, 4)
INSERT [dbo].[Rating] ([id], [userId], [foodId], [rating]) VALUES (2, 33, 2, 2)
INSERT [dbo].[Rating] ([id], [userId], [foodId], [rating]) VALUES (3, 33, 3, 1)
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[RatingStore] ON 

INSERT [dbo].[RatingStore] ([id], [userId], [storeId], [rating]) VALUES (1, 33, 1, 4)
INSERT [dbo].[RatingStore] ([id], [userId], [storeId], [rating]) VALUES (2, 33, 2, 4)
INSERT [dbo].[RatingStore] ([id], [userId], [storeId], [rating]) VALUES (3, 33, 1, 3)
SET IDENTITY_INSERT [dbo].[RatingStore] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([id], [name], [address], [phoneNumber], [imageId], [description]) VALUES (1, N'Bún chả Sinh Từ', N'57A Phố Nguyễn Khuyến, Văn Miếu, Đống Đa, Hà Nội', N'0966 695 223', 1, N'Tạo lập được một website bán hàng thành công còn dựa vào rất nhiều yếu tố, mỗi một yếu tố chính là một thành phần để tạo nên sự độc đáo, từ đó thu hút khách hàng. Và một trong những yếu tố vô cùng quan trọng của quảng cáo bán hàng chính là status bán hàng hay. Chính vì vậy hãy làm cho những lời giới thiệu bán hàng của mình trở nên thú vị và thu hút khách hàng nhé. ')
INSERT [dbo].[Store] ([id], [name], [address], [phoneNumber], [imageId], [description]) VALUES (2, N'Cơm rang cực mạnh', N'69 Vĩnh Tuy, Hà Nội', N'0912 209 115', 2, N'Tạo lập được một website bán hàng thành công còn dựa vào rất nhiều yếu tố, mỗi một yếu tố chính là một thành phần để tạo nên sự độc đáo, từ đó thu hút khách hàng. Và một trong những yếu tố vô cùng quan trọng của quảng cáo bán hàng chính là status bán hàng hay. Chính vì vậy hãy làm cho những lời giới thiệu bán hàng của mình trở nên thú vị và thu hút khách hàng nhé. ')
INSERT [dbo].[Store] ([id], [name], [address], [phoneNumber], [imageId], [description]) VALUES (3, N'Bánh tráng trộn', N'150 Nguyễn Trãi, Thanh Xuân, Hà Nội', N'0942 311 209', 3, N'Tạo lập được một website bán hàng thành công còn dựa vào rất nhiều yếu tố, mỗi một yếu tố chính là một thành phần để tạo nên sự độc đáo, từ đó thu hút khách hàng. Và một trong những yếu tố vô cùng quan trọng của quảng cáo bán hàng chính là status bán hàng hay. Chính vì vậy hãy làm cho những lời giới thiệu bán hàng của mình trở nên thú vị và thu hút khách hàng nhé. ')
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[StoreComment] ON 

INSERT [dbo].[StoreComment] ([id], [userId], [storeId], [content], [createAt]) VALUES (1, 33, 1, N'Ngon quá', CAST(N'2020-12-01' AS Date))
INSERT [dbo].[StoreComment] ([id], [userId], [storeId], [content], [createAt]) VALUES (2, 37, 1, N'100 di?m', CAST(N'2020-01-10' AS Date))
INSERT [dbo].[StoreComment] ([id], [userId], [storeId], [content], [createAt]) VALUES (3, 44, 1, N'pro', CAST(N'2020-04-05' AS Date))
SET IDENTITY_INSERT [dbo].[StoreComment] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [hashPassword], [name], [imageId], [phoneNumber], [address], [userType], [tokenKey], [expireDate]) VALUES (33, N'viettqhe@gmail.com', N'$2b$10$S9k17cwBioUHZ0mkGoYuQ.H6RAJPIV9a8XsWiA4RmimlzEFw9c57y', N'viet tran', 9, N'123456789', N'hung yên', 1, N'XEVyi4N5r{U:6#0X', CAST(N'2029-12-16' AS Date))
INSERT [dbo].[User] ([id], [email], [hashPassword], [name], [imageId], [phoneNumber], [address], [userType], [tokenKey], [expireDate]) VALUES (37, N'viettq@gmail.com', N'$2b$10$DjXzcJlimC2iwTt1/g.zpOZ1M7js0QIvjufCFGvROsR.5p/oEUp2y', N'danh tung', 8, NULL, NULL, 1, N'J4iY6ICp8Fn<-Fip', CAST(N'2020-11-20' AS Date))
INSERT [dbo].[User] ([id], [email], [hashPassword], [name], [imageId], [phoneNumber], [address], [userType], [tokenKey], [expireDate]) VALUES (44, N'viettq2@gmail.com', N'$2b$10$u4BUTmZEJiL6bCYgpR8y9.ww0hLxop98SPAzROnheD1x3w6T.13P2', N'cong son', 1, NULL, NULL, 1, N'4N72\=y7s#:^59G_', CAST(N'2020-11-20' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserToken] ON 

INSERT [dbo].[UserToken] ([id], [userId], [tokenKey], [createAt]) VALUES (2, 33, N'bv', NULL)
SET IDENTITY_INSERT [dbo].[UserToken] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_User]    Script Date: 12/11/2020 12:48:19 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UC_User] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_imageId]  DEFAULT ((1)) FOR [imageId]
GO
ALTER TABLE [dbo].[UserToken] ADD  CONSTRAINT [DF_UserToken_createAt]  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [fk_category_imageid] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [fk_category_imageid]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Category] FOREIGN KEY([catId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Category]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Image]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Store] FOREIGN KEY([storeId])
REFERENCES [dbo].[Store] ([id])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Store]
GO
ALTER TABLE [dbo].[FoodComment]  WITH CHECK ADD  CONSTRAINT [FK_FoodComment_Food] FOREIGN KEY([foodId])
REFERENCES [dbo].[Food] ([id])
GO
ALTER TABLE [dbo].[FoodComment] CHECK CONSTRAINT [FK_FoodComment_Food]
GO
ALTER TABLE [dbo].[FoodComment]  WITH CHECK ADD  CONSTRAINT [FK_FoodComment_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[FoodComment] CHECK CONSTRAINT [FK_FoodComment_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Image]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Food] FOREIGN KEY([foodId])
REFERENCES [dbo].[Food] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Food]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Food] FOREIGN KEY([foodId])
REFERENCES [dbo].[Food] ([id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Food]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_User]
GO
ALTER TABLE [dbo].[RatingStore]  WITH CHECK ADD  CONSTRAINT [FK_RatingStore_Store] FOREIGN KEY([storeId])
REFERENCES [dbo].[Store] ([id])
GO
ALTER TABLE [dbo].[RatingStore] CHECK CONSTRAINT [FK_RatingStore_Store]
GO
ALTER TABLE [dbo].[RatingStore]  WITH CHECK ADD  CONSTRAINT [FK_RatingStore_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[RatingStore] CHECK CONSTRAINT [FK_RatingStore_User]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_Image]
GO
ALTER TABLE [dbo].[StoreComment]  WITH CHECK ADD  CONSTRAINT [FK_StoreComment_Store] FOREIGN KEY([storeId])
REFERENCES [dbo].[Store] ([id])
GO
ALTER TABLE [dbo].[StoreComment] CHECK CONSTRAINT [FK_StoreComment_Store]
GO
ALTER TABLE [dbo].[StoreComment]  WITH CHECK ADD  CONSTRAINT [FK_StoreComment_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[StoreComment] CHECK CONSTRAINT [FK_StoreComment_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Image]
GO
ALTER TABLE [dbo].[UserToken]  WITH CHECK ADD  CONSTRAINT [FK_UserToken_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserToken] CHECK CONSTRAINT [FK_UserToken_User]
GO
